<p id="notice"><%= notice %></p>

<h1>My courses</h1>

<ul>
  <% @semesters.each do |semester| %>
    <li>
      <h2><%= link_to semester.name, semester %></h2>
      <% semester.courses.each do |course| %>
        <%= link_to course.dept + course.number.to_s + ' - ' + course.name, course %></br>
      <% end %>
    </li>
  <% end %>
</ul>
<%= link_to "New Semester", new_semester_path %>
