<h1>Programdirectors</h1>

<ul>
  <% @programdirectors.each do |programdirector| %>
    <li>
      <%=programdirector.CWID%>
      <%= link_to programdirector.Name, programdirector %>
    </li>
  <% end %>
</ul>
<%= link_to "New Program Director", new_programdirector_path %>
<p>Find this view in app/views/programdirectors/index.html.erb</p>
