<p id="notice"><%= notice %></p>

<h1>Professors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cwid</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= link_to professor.name, professor_path(professor) %></td>
        <td><%= professor.cwid %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
