<h1>Course Catalog</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Dept</th>
      <th>Number</th>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, course_path(course) %></td>
        <td><%= course.dept %></td>
        <td><%= course.number %></td>
        <td><%= course.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>