<p id="notice"><%= notice %></p>

<ul>
  <% @plans.each do |plan| %>
    <li>
      <%=plan.nameofplan%>
      <%= link_to plan.nameofplan, plan %>
      <%=plan.created_at%>
    </li>
  <% end %>
</ul>
<p>Find this view in app/views/plans/index.html.erb</p>
